# General
*.log
.DS_Store
.history
.idea

# Testing
.nyc_output
coverage
node_modules

# Debugging files
/test.js
/test.bcup
*.test.bcup
*.test.js
/stats.json

# Artifacts
/dist
/web
.vs/buttercup-core-heimdall/FileContentIndex/2644e253-f55b-477b-b6f2-960b0cd71a4b.vsidx
.vs/buttercup-core-heimdall/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
buttercup-7.3.0.tgz
.vs/buttercup-core-heimdall/FileContentIndex/b2b4adf2-c424-4b78-821e-be6641aa00e4.vsidx
.vs/buttercup-core-heimdall/FileContentIndex/e5a9833e-fae7-4fcd-baf3-474200c1380b.vsidx
.vs/buttercup-core-heimdall/FileContentIndex/f5eff814-b15b-41bc-9876-286d2c1096ab.vsidx
